body {
    background-color: black;
    text-align: center; } /* Not standard practice but applies here */

#main-header .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download a{
    color: aquamarine;
    font-size: 16px;
}

#travel-guiede .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#travel-guide .title, #foot .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#travel-guide .desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

#travel-guide {
    padding-bottom: 20px;
}

#foot .copyright{
    text-align: right;
    color: gray;
}